{{!---------------------------- Filter by Interest ----------------------------------}}

<div class="main-nav">
    <a href="/session/home"><img src="../images/heart3.png" alt="Home"></a>
    <a href="/session/peers"><img src="../images/peers2.png" alt="Peers"></a>
    <a href="/session/featured"><img src="../images/new2.png" alt="Featured"></a>
    <a href="/session/blog"><img src="../images/blog2.png" alt="Blog"></a>
</div>

{{!-- <div class="main-content-wrapper">
    {{#each user.interests}}
    {{> mainPartial}}
    {{/each}}
</div> --}}


<div class="parent-div">
    <div class="interests-bar">
        <button class="interest-btn-all" type="submit">All</button>
        {{#each user.interests}}
        <button class="interest-btn" type="submit">{{this}}</button>
        {{/each}}
    </div>

    <h2 class="reading-header">Reading</h2>
    <div class="reading-content-wrapper">
        {{#each feedArticles}}
        <div class="articlefeed">
            <h4>{{this.title}}</h4>

            {{#unless this.urlToImage}}
            <div class="community-icons">
                <button onclick="like(`{{stringify this}}`)"><img src="/images/heart4.png" alt="like"
                        style="padding-right: 23px"></button>
                <button onclick="bookmark(`{{stringify this}}`)"><img class="bookmark" src="/images/bookmark3.png"
                        alt="bookmark" style="padding-top: 20px"></button>
            </div>
            <img class="cover"
                src="https://images.unsplash.com/photo-1552844920-9ebfbf44db66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                width="100%" alt="" style="border: 0.1px solid #ff5252">
            {{/unless}}
            {{#if this.urlToImage}}
            <div class="community-icons">
                <button onclick="like(`{{stringify this}}`)"><img src="/images/heart4.png" alt="like"
                        style="padding-right: 23px"></button>
                <button onclick="bookmark(`{{stringify this}}`)"><img class="bookmark" src="/images/bookmark3.png"
                        alt="bookmark" style="padding-top: 20px"></button>
            </div>
            <img src="{{this.urlToImage}}" width="100%" alt="" style="border: 0.5px solid #ff5252">
            {{/if}}

            <p>{{this.description}}</p>
            <p class="publisher-link"><a href="{{this.url}}">Read more...</a></p>
            <p class="publisher">by <span style="color: gray">{{this.author}}</span> on <span
                    style="color: coral">{{this.source.name}}</span></p>

        </div>
        {{/each}}
    </div>

    {{!-- VIDEO --}}
    <h2 class="video-header">Watching</h2>
    <div class="video-content-wrapper">
        {{#each videoObj}}
        {{> youtubePartial}}
        {{/each}}
    </div>

    {{!-- LISTENING --}}
    <h2 class="listening-header">Listening</h2>
    <div class="listening-content-wrapper" style="height: 20vh">
        {{!-- Remove style height above once you fill it with content --}}
        {{!-- {{#each ..}}
    {{> listeningPartial}}
    {{/each}} --}}
    </div>




</div>


<script>
    const like = (article) => {
        axios.post("/session/content/like", { article: article }).then(response => {
            console.log(response)
        })
    }
    const bookmark = (article) => {
        axios.post("/session/content/bookmark", { article: article }).then(response => {
            console.log(response)
        })
    }
</script>