<img src="{{user.profilePicture}}" width="70px" alt="">
<h2>{{user.fullName}}</h2>

<a href="/session/home">Home</a>
<a href="/session/peers">Liked by peers</a>
<a href="/session/featured">Featured</a>
<a href="/session/blog">Blog</a>

<h3>Feed filtered by my own interests</h3>
<p>( here comes the feed filtered by pref: {{user.interests}} )</p>

<h3>Medium feed</h3>
{{#each mediumData}}
<h4>{{this.title}}</h4>
{{#each this.items}}
<h5>{{this.title}}</h5>
<div class="postRSSdiv">
    {{{this.content}}}

    <span>by {{this.creator}}</span>
    <a href="{{this.link}}">read on Medium</a>
</div>
{{/each}}

{{/each}}

<style>
    .postRSSdiv {
        width: 400px;
    }

    .postRSSdiv img {
        width: 400px;
    }
</style>