{{!---------------------------- Filter by Interest ----------------------------------}}

<div class="main-nav">
    <a href="/session/home"><img src="../images/yourInterests.png" alt="Home"></a>
    <a href="/session/peers"><img src="../images/peers.png" alt="Peers"></a>
    <a href="/session/featured"><img src="../images/new.png" alt="Featured"></a>
    <a href="/session/blog"><img src="../images/blog.png" alt="Blog"></a>
</div>


{{!-- <div class="main-content-wrapper">
    {{#each user.interests}}
    {{> mainPartial}}
    {{/each}}
</div> --}}
<div class="parent-div">
<div class="interests-bar">
    <button class = "interest-btn-all" type="submit">All</button>
    {{#each user.interests}}
    <button class = "interest-btn" type="submit">{{this}}</button>
    {{/each}}
</div>

<h2 class = "listening-header" >Listening</h2>
<div class="listening-content-wrapper" style="height: 20vh">
    {{!-- {{#each ..}}
    {{> listeningPartial}}
    {{/each}} --}}
</div>

<h2 class = "video-header" >Watching</h2>
<div class="video-content-wrapper">
    {{#each videoId}}
    {{> youtubePartial}}
    {{/each}}
</div>

<h2 class = "reading-header" >Reading</h2>
<div class="reading-content-wrapper">
    {{#each feedArticles}}
    <div class="articlefeed">
        <h4>{{this.title}}</h4>
        
        {{#unless this.urlToImage}}
        <img class="cover" src="https://images.unsplash.com/photo-1552844920-9ebfbf44db66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" width="100%" alt="">
        {{/unless}}
        {{#if this.urlToImage}}
        <img src="{{this.urlToImage}}" width="100%" alt="">
        {{/if}}

        
        <p>{{this.description}}</p>
        <p class="publisher">by <span style="color: gray">{{this.author}}</span> on <span style="color: coral">{{this.source.name}}</span></p>
        <p><span style="border-bottom: 1px solid black">{{this.url}}</span></p>
    </div>
    {{/each}}
</div>

</div>






{{!-- // --}}
{{!-- <h3>Feed filtered by my own interests</h3> --}}
{{!-- <p>( here comes the feed filtered by pref: {{user.interests}} )</p> --}}

