{{!---------------------------- Filter by Interest ----------------------------------}}

<div class="main-nav">
    <a href="/session/home"><img src="../images/yourInterests.png" alt="Home"></a>
    <a href="/session/peers"><img src="../images/peers.png" alt="Peers"></a>
    <a href="/session/featured"><img src="../images/new.png" alt="Featured"></a>
    <a href="/session/blog"><img src="../images/blog.png" alt="Blog"></a>
</div>

<div class="main-content-wrapper">
    {{#each user.interests}}
    {{> mainPartial}}
    {{/each}}
</div>

<h2 class = "video-header" >Watching</h2>
<div class="video-content-wrapper">
    {{#each videoId}}
    {{> youtubePartial}}
    {{/each}}
</div>

<h2 class = "reading-header" >Reading</h2>
<div class="reading-content-wrapper">
{{#each feedArticles}}
<div class="articlefeed">
    <h4>{{this.title}}</h4>
    <p>by <span style="color: gray">{{this.author}}</span> on <span style="color: coral">{{this.source.name}}</span></p>
    <img src="{{this.urlToImage}}" width="100%" alt="">
    <p>{{this.description}}</p>
    <p><span style="border-bottom: 1px solid black">{{this.url}}</span></p>
</div>
{{/each}}
</div>



<style>
    .postRSSdiv {
        width: 400px;
    }

    .postRSSdiv img {
        width: 400px;
    }

    .articlefeed {
        padding: 10px;
        border-bottom: solid 1px gray;
        margin-bottom: 10px;
    }

    .articlefeed p {
        text-align: justify;
        padding: 10px;
    }

    .articlefeed img {
        border-radius: 10px;
    }

    .articlefeed h4 {
        color: rgb(29, 29, 29);
        font-size: 1.5em;
    }
</style>


{{!-- // --}}
{{!-- <h3>Feed filtered by my own interests</h3> --}}
{{!-- <p>( here comes the feed filtered by pref: {{user.interests}} )</p> --}}

