<div class="parent-div">

    <div id="profile-head">
        <img src="{{user.profilePicture}}" alt="">
        <h2>hello {{user.firstName}}</h2>
    </div>

    <div class="tags-interests">
        {{#each user.interests}}
        <span class="tag-interest">
            <a href="/session/profile/deleteInterest/{{this}}">{{this}}</a>
        </span>
        {{/each}}
    </div>

    <form action="/session/profile" method="post" id="input-new-interests">
        <label for=" interest">+ </label>
        <input type="text" name="interest">
    </form>
    {{!-- <h4>You liked</h4>
    {{#if preParsed}}
    {{#each preParsed}}
    {{this.title}}
    {{/each}}
    {{/if}} --}}
</div>

{{!-- //----------// --}}

<style>
    #profile-head {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center
    }

    #profile-head img {
        width: 30%;
        border-radius: 50%;
        /*border: solid 5px lightcoral;*/
        margin: auto;
    }

    .tag-interests {
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .tag-interest {
        padding: 6px;
        border-radius: 5px;
        margin: 5px;
        border: solid 1px gray;
        text-align: center;
    }

    .tag-interest a {
        text-decoration: none;
        color: gray;
    }

    .tag-interest:hover,
    .tag-interest a:hover {
        text-decoration: none;
        color: #fff;
        background-color: rgb(255, 74, 74);
        border: none
    }
</style>