{{#each mediumData}}
<h4>{{this.title}}</h4>
{{#each this.items}}
<h5>{{this.title}}</h5>
<div class="postRSSdiv">
    {{{this.content}}}

    <span>by {{this.creator}}</span>
    <a href="{{this.link}}">read on Medium</a>
</div>
{{/each}}

{{/each}}

<style>
    .postRSSdiv {
        width: 400px;
    }

    .postRSSdiv img {
        width: 400px;
    }
</style>


</div>